body {
    font-family: "Helvetica", sans-serif;
}

button {
    background-color: #8EE5D1;
    border-style: none;
    width: 7em;
    height: 3em;
    border-radius: 1.5em;
}

button:hover{
    background-color: aquamarine
}

input {
    height: 3em;
    width: 14em;
    border-style: none;
    border-radius: 1em;
}

.topbar {
    height: 10vh;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.illustration {
    text-align: left;
}

.illustration > img {
    width: 25em;
    float: right;
}

.illustration > div {
    padding: 40;
}

.headline > p {
    color: #97999b;
}

.demobook {
    background-color: #F4F7FA;
    clear: both;
    padding: 50;
}

.demobook > div {
    width: 100%;
    margin-left: 30vw;
}

.demobook > * > button {
    border-radius: 1em;
    width: 10em;
}
